body{
    background: white;
    font-family: 'Helvetica', sans-serif;
    color: black;
    margin:5%;
    margin-top:10%;
/*
    background-image: url(images/image.jpg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: right center;
    background-attachment: fixed;
*/
}


header{
    background:white;
}

.body-text {
    margin-left: 10%;
    width:80%;
    text-align: center;
    font-size: 150%;
}

.line{
    size: 3%;
    width: 80%;
    align-self:center;
}

.image{
    float:right;
    margin-top: 7%;
    width:30%;
    height:30%;
}
