body{
    margin:5%;
    margin-top: 10%;
    background: white;
    font-family: 'Helvetica', sans-serif;
    color: black;
}


header{
    background:white;
}

.inline-block-center {
  text-align: center;
    position:relative;
}
.inline-block-center div {
  display: inline-block;
  text-align: left;
}

.flex-center {
  display: flex;
  justify-content: center;
}


.line{
    size: 3%;
    width: 80%;
    align-self:center;
}

.image{
    margin-top: 7%;
    float:right;
    width:30%;
    height:30%;
}

.body-content{
    text-align: center;
}

/*
body h1{
    margin-bottom: 5%;
}
*/
body p{
    font-size:18px;
}
.status{
    color: red;
    transition-duration: .1s;
}

body h4{
    font-size: 16px;
    margin-top: 3%;
    margin-bottom: 8%;
}